<link rel="stylesheet" href="/css/item-list.css" />
<div class="shop-bg">
  <div class="shop-group">
    <h1>Our Products</h1>
    <section >
  
  
        <div>
  
        </div>
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
    <section >
  
  
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
    <section >
  
  
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
  </div>
  <div class="shop-group">
    <h1>Our Products</h1>
    <section >
  
  
        <div>
  
        </div>
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
    <section >
  
  
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
    <section >
  
  
        <div class="products-wrapper">
          <div class="group-title">
            <h1>Auto Body Parts & Mirrors</h2>
  
          </div>
          <div class="products">
            <div class="product">
              <img src="img/car parts/bumpers.jpg" alt="" />
              <p>Bumpers & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/fenders.jpg" alt="" />
              <p>Fenders & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/mirrors.jpg" alt="" />
              <p>Mirrors & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/hoods.jpg" alt="" />
              <p>Hoods & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/grilles.jpg" alt="" />
              <p>Grilles & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/door_handle.jpg" alt="" />
              <p>Door Handles, Locks & Accessories</p>
            </div>
            <div class="product">
              <img src="img/car parts/windows.jpg" alt="" />
              <p>Windows & Components</p>
            </div>
            <div class="product">
              <img src="img/car parts/other.jpg" alt="" />
              <p>Other Auto Body Replacement</p>
            </div>
          </div>
          <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
        </div>
  
    </section>
  </div>
</div>