<!-- content section -->
<link rel="stylesheet" href="/css/index.css" />
<div class="background-image">
  <section class="dark-background">
    <div class="content">
      <div class="title">
        <h2>Repairing your car is</h2>
        <h2>a pleasure</h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        architecto similique quis quo ipsum laboriosam voluptatibus dignissimos
        necessitatibus, voluptate eaque!
      </p>
      <% if (!isConnected) { %>
      <a href="/auth/register" class="btn btn-danger sign-up-btn"
        >Sign up for free now</a
      >
      <%} %>
    </div>
  </section>
</div>

<!-- end content section -->
