<header>
  <div class="social">
    <div class="social-wrapper">
      <p>We are open 7/7 from 8:00 to 19:00</p>
      <div class="icons">
        <i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i
        ><i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
  <div class="navbar-menu">
    <nav class="navbar navbar-dark navbar-expand-custom">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand logo" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="Capa_1"
          enable-background="new 0 0 512 512"
          height="50"
          viewBox="0 0 512 512"
          width="50"
        >
          <g id="XMLID_189_" style="fill: white">
            <path
              id="XMLID_485_"
              d="m462.678 265.692 49.322-8.692-15.848-89.9-49.28 8.691c-6.818-16.25-15.657-31.431-26.18-45.257l32.193-38.376-69.934-58.68-32.161 38.345c-15.361-7.929-31.844-13.985-49.153-17.88v-50.052h-91.276v50.052c-17.309 3.896-33.792 9.951-49.153 17.88l-32.161-38.344-69.933 58.681 32.193 38.376c-10.523 13.826-19.362 29.007-26.18 45.257l-49.28-8.691-15.847 89.898 49.322 8.691c.847 17.859 3.949 35.115 9.03 51.513l-43.33 25.016 45.648 79.049 43.383-25.048c11.846 12.81 25.291 24.137 40.027 33.622l-17.129 47.046 85.782 31.219 17.129-47.046c8.554 1.08 17.288 1.641 26.138 1.641s17.584-.561 26.138-1.641l17.129 47.046 85.781-31.219-17.129-47.046c14.736-9.485 28.181-20.813 40.027-33.622l43.383 25.048 45.648-79.049-43.33-25.016c5.082-16.397 8.184-33.653 9.031-51.512zm-206.678 85.443c-52.657 0-95.341-42.684-95.341-95.341s42.684-95.341 95.341-95.341 95.341 42.684 95.341 95.341-42.684 95.341-95.341 95.341z"
            />
          </g>
        </svg>
        <span class="brand">Repair Shop</span></a
      >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/shop"
              >Shop <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Our Staff</a>
          </li>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Administration Panel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/offers">Manage Offers</a>
              <a class="dropdown-item" href="/items/admin">Manage Items</a>
              <a class="dropdown-item" href="/interventions"
                >Manage Interventions</a
              >
              <a class="dropdown-item" href="/cars">Manage cars</a>
            </div>
          </li>

        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            User Panel
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="/cars/new"
            >Register your car <span class="sr-only">(current)</span></a
          >
          <a class="dropdown-item" href="/interventions/client"
          >Interventions</a
        >
          </div>
        </li>

          
        </ul>
      </div>
    </nav>
    <button class="btn btn-outline-danger my-2 my-sm-0">Register</button>
    <button class="btn btn-danger my-2 my-sm-0">Login</button>
    <a
      href="/shop/cart"
      style="
        font-size: 1.4rem;
        text-decoration: none;
        color: #ece6e6;
        padding-inline: 17px;
      "
    >
      <i class="fas fa-shopping-cart"></i>
      <span style="font-size: 14px" class="badge badge-pill badge-danger"
        ><%= totalItems %></span
      >
    </a>
  </div>
</header>
