
<section class="section-category">
  <div class="white-backgr">
    <div>
      <h1>Our Products</h1>
    </div>
    <div class="products-wrapper">
      <div class="group-title">
        <h1>Auto Body Parts & Mirrors</h2>
        <img
          class="group-img"
          src="img/car parts/group-auto-body.jpg"
          alt=""
        />
      </div>
      <div class="products">
        <div class="product">
          <img src="img/car parts/bumpers.jpg" alt="" />
          <p>Bumpers & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/fenders.jpg" alt="" />
          <p>Fenders & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/mirrors.jpg" alt="" />
          <p>Mirrors & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/hoods.jpg" alt="" />
          <p>Hoods & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/grilles.jpg" alt="" />
          <p>Grilles & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/door_handle.jpg" alt="" />
          <p>Door Handles, Locks & Accessories</p>
        </div>
        <div class="product">
          <img src="img/car parts/windows.jpg" alt="" />
          <p>Windows & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/other.jpg" alt="" />
          <p>Other Auto Body Replacement</p>
        </div>
      </div>
      <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
    </div>
  </div>
</section>
<section class="section-category">
  <div class="white-backgr">
    
    <div class="products-wrapper">
      <div class="group-title">
        <h1>Auto Body Parts & Mirrors</h2>
        <img
          class="group-img"
          src="img/car parts/group-auto-body.jpg"
          alt=""
        />
      </div>
      <div class="products">
        <div class="product">
          <img src="img/car parts/bumpers.jpg" alt="" />
          <p>Bumpers & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/fenders.jpg" alt="" />
          <p>Fenders & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/mirrors.jpg" alt="" />
          <p>Mirrors & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/hoods.jpg" alt="" />
          <p>Hoods & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/grilles.jpg" alt="" />
          <p>Grilles & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/door_handle.jpg" alt="" />
          <p>Door Handles, Locks & Accessories</p>
        </div>
        <div class="product">
          <img src="img/car parts/windows.jpg" alt="" />
          <p>Windows & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/other.jpg" alt="" />
          <p>Other Auto Body Replacement</p>
        </div>
      </div>
      <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
    </div>
  </div>
</section>
<section class="section-category">
  <div class="white-backgr">
    
    <div class="products-wrapper">
      <div class="group-title">
        <h1>Auto Body Parts & Mirrors</h2>
        <img
          class="group-img"
          src="img/car parts/group-auto-body.jpg"
          alt=""
        />
      </div>
      <div class="products">
        <div class="product">
          <img src="img/car parts/bumpers.jpg" alt="" />
          <p>Bumpers & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/fenders.jpg" alt="" />
          <p>Fenders & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/mirrors.jpg" alt="" />
          <p>Mirrors & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/hoods.jpg" alt="" />
          <p>Hoods & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/grilles.jpg" alt="" />
          <p>Grilles & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/door_handle.jpg" alt="" />
          <p>Door Handles, Locks & Accessories</p>
        </div>
        <div class="product">
          <img src="img/car parts/windows.jpg" alt="" />
          <p>Windows & Components</p>
        </div>
        <div class="product">
          <img src="img/car parts/other.jpg" alt="" />
          <p>Other Auto Body Replacement</p>
        </div>
      </div>
      <div class="see-all"><a href="">see all <i class="fas fa-chevron-right"></i></a></div>
    </div>
  </div>
</section>