.white-backgr {
  background-color: #ffffffa1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  padding: 2em;
  justify-content: center;
}
.product {
  text-align: center;
  background-color: #ffffff;
  width: 10em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-img {
  width: 10em;
}
.group-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.products-wrapper {
  display: flex;
  background: #f6f6f6;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-block: 2em;
}
.see-all {
  position: absolute;
  height: 1em;
  width: 6em;
  bottom: 15px;
  right: 2px;
}
.see-all a {
  color: var(--custom-red);
}
.shop-bg {
  display: flex;
  justify-content: space-between;
  padding: 4em;
  gap: 5em;
}

.shop-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}
