<h2>New Intervention</h2>
<form action="/interventions" method="POST">
  <%- include('_new_fields.ejs') %>
  <div class="container" style="float: right">
    <a class="btn btn-danger" href="/interventions">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
