<h2 style="text-align: center; margin-block: 1em">New Car</h2>
<form action="/cars" method="POST">
  <%- include('_new_fields.ejs') %>
  <div class="container" style="float: right">
    <a class="btn btn-danger" href="/cars">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
